src/workflows/n8n-workflows.json
{
  "name": "PineVC-PR RSS 采集工作流",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */4 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://www.vbdata.cn/rss",
        "options": {}
      },
      "id": "rss-vbdata",
      "name": "动脉网RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "url": "https://www.iyiou.com/rss/health",
        "options": {}
      },
      "id": "rss-iyiou",
      "name": "亿欧健康RSS",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-rss",
      "name": "合并RSS结果",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// 处理 RSS 数据\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // 关键词过滤\n  const mustHaveKeywords = ['创新药', 'ADC', '双抗', '细胞治疗', '基因治疗', 'AI制药', 'IND', 'NDA', '获批', 'License-out', '融资'];\n  const excludeKeywords = ['招聘', '会议通知', '培训班', '广告'];\n  \n  const title = data.title || '';\n  const content = data.content || data.description || '';\n  const combinedText = title + ' ' + content;\n  \n  // 检查排除关键词\n  const hasExclude = excludeKeywords.some(kw => combinedText.includes(kw));\n  if (hasExclude) continue;\n  \n  // 检查必须关键词\n  const hasMustHave = mustHaveKeywords.some(kw => combinedText.includes(kw));\n  if (!hasMustHave) continue;\n  \n  // 论点标签\n  const thesisTags = [];\n  const thesisKeywords = {\n    'clinical': ['临床试验', 'IND', '患者入组', 'CDE', '突破性疗法'],\n    'discovery': ['靶点', 'First-in-class', '新模态', 'AI药物设计'],\n    'engineering': ['CMC', '规模化生产', 'GMP', '质量控制'],\n    'ai': ['AI制药', '深度学习', 'AlphaFold', '生成式AI']\n  };\n  \n  for (const [tag, keywords] of Object.entries(thesisKeywords)) {\n    if (keywords.some(kw => combinedText.includes(kw))) {\n      thesisTags.push(tag);\n    }\n  }\n  \n  results.push({\n    json: {\n      id: data.link || data.guid || Date.now().toString(),\n      title: title,\n      url: data.link || '',\n      source: '动脉网',\n      published_at: data.pubDate || data.isoDate || new Date().toISOString(),\n      collected_at: new Date().toISOString(),\n      content: content.substring(0, 5000),\n      thesis_tags: thesisTags,\n      priority: thesisTags.length >= 2 ? 'high' : 'medium',\n      status: 'pending'\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { no_results: true } }];"
      },
      "id": "code-filter",
      "name": "数据清洗过滤",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ $json.no_results }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-results",
      "name": "判断是否有结果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// 保存到本地文件\nconst items = $input.all();\nconst fs = require('fs');\nconst path = require('path');\n\nconst dataDir = '/home/node/.n8n/data';\nif (!fs.existsSync(dataDir)) {\n  fs.mkdirSync(dataDir, { recursive: true });\n}\n\nconst today = new Date().toISOString().split('T')[0];\nconst filePath = path.join(dataDir, `news-${today}.json`);\n\nlet existingData = [];\nif (fs.existsSync(filePath)) {\n  existingData = JSON.parse(fs.readFileSync(filePath, 'utf8'));\n}\n\nconst newData = items.map(item => item.json);\nconst existingUrls = new Set(existingData.map(d => d.url));\n\n// 去重\nconst uniqueData = newData.filter(d => !existingUrls.has(d.url));\nexistingData.push(...uniqueData);\n\nfs.writeFileSync(filePath, JSON.stringify(existingData, null, 2));\n\nreturn [{ json: { saved: uniqueData.length, total: existingData.length, file: filePath } }];"
      },
      "id": "save-data",
      "name": "保存数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dify-api:5001/v1/workflows/run",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": {\n    \"article_url\": \"{{ $json.url }}\",\n    \"article_title\": \"{{ $json.title }}\",\n    \"article_content\": \"{{ $json.content }}\",\n    \"matched_theses\": \"{{ $json.thesis_tags.join(', ') }}\",\n    \"additional_note\": \"热点新闻采集\"\n  },\n  \"user\": \"n8n-automation\"\n}",
        "options": {}
      },
      "id": "call-dify",
      "name": "调用Dify工作流",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "dify-api-key",
          "name": "Dify API Key"
        }
      }
    }
  ],
  "connections": {
    "定时触发": {
      "main": [
        [
          { "node": "动脉网RSS", "type": "main", "index": 0 },
          { "node": "亿欧健康RSS", "type": "main", "index": 0 }
        ]
      ]
    },
    "动脉网RSS": {
      "main": [
        [{ "node": "合并RSS结果", "type": "main", "index": 0 }]
      ]
    },
    "亿欧健康RSS": {
      "main": [
        [{ "node": "合并RSS结果", "type": "main", "index": 1 }]
      ]
    },
    "合并RSS结果": {
      "main": [
        [{ "node": "数据清洗过滤", "type": "main", "index": 0 }]
      ]
    },
    "数据清洗过滤": {
      "main": [
        [{ "node": "判断是否有结果", "type": "main", "index": 0 }]
      ]
    },
    "判断是否有结果": {
      "main": [
        [{ "node": "保存数据", "type": "main", "index": 0 }],
        []
      ]
    },
    "保存数据": {
      "main": [
        [{ "node": "调用Dify工作流", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-02T00:00:00.000Z",
  "versionId": "1"
}
